<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products - E commerce Website</title>
    {% load static %}
    <link rel="stylesheet" href={% static "STYLE.CSS" %}>

</head>
{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
{% load static %}
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
{% load static %}
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

<div class="container">
        {% include 'navbar.html' %}
    </div>
<h1>About</h1>

{% include 'footer.html' %}