<div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>
                        Download Our App
                    </h3>
                    <p>Download App For Android</p>

                    <div class="app-logo">
                        {% load static %}
                        <img src="{% static "RedStore_Img/images/play-store.png" %}">
                        {% load static %}
                        <img src="{% static "RedStore_Img/images/app-store.png" %}">
                    </div>

                </div>
                <div class="footer-col-2">
                    {% load static %}
                    <img src="{% static "RedStore_Img/images/logo-white.jfif" %}">
                    <p>Our Purpose is simple and sustainable pleasure benefits to people</p>

                </div>

                <div class="footer-col-3">
                    <h3>
                        Useful Links
                    </h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Posts</li>
                        <li>Return Policy</li>
                        <li>Join AFFliates</li>
                    </ul>


                </div>

                <div class="footer-col-4">
                    <h3>
                        Follow US
                    </h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Youtube</li>

                    </ul>


                </div>

            </div>
<hr>
<p class="copyright">Copyright - &copy;Ecommerce Website</p>
            
        </div>
    </div>