<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta naem="viewport" content="width=device-width, initial-scale = 1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Payment Gateway</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    {% load static %}
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {% load static %}
    <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:400,300' %}" rel='stylesheet' type='text/css'>
    {% load static %}
    <link rel="stylesheet" href="{% static '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' %}">

    {% load static %}
    <link rel="stylesheet" href="{% static 'payment.css' %}">
</head>
<body>
    <div class="container">
        <div id="Checkout" class="inline">
            <h1>Pay Invoice</h1>
            <div class="card-row">
                <span class="visa"></span>
                <span class="mastercard"></span>
                <span class="amex"></span>
                <span class="discover"></span>
            </div>
            <form method='post' action="/thank-you-page/"> {% csrf_token %}
                <input type="text" name='address-holder' value="{{address}}" hidden>
                <div class="form-group">
                    <label for="PaymentAmount">Payment amount</label>
                    <div class="amount-placeholder">
                        <span>₹</span>
                        <span>{{total}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label or="NameOnCard">Name on card</label>
                    <input id="NameOnCard" class="form-control" type="text" maxlength="255" required></input>
                </div>
                <div class="form-group">
                    <label for="CreditCardNumber">Card number</label>
                    <input id="CreditCardNumber" class="null card-image form-control" type="text" required></input>
                </div>
                <div class="expiry-date-group form-group">
                    <label for="ExpiryDate">Expiry date</label>
                    <input id="ExpiryDate" class="form-control" type="text" placeholder="MM / YY" maxlength="7" required></input>
                </div>
                <div class="security-code-group form-group">
                    <label for="SecurityCode">Security code</label>
                    <div class="input-container" >
                        <input id="CVV" class="form-control" type="text" required></input>
                        <i id="cvc" class="fa fa-question-circle"></i>
                    </div>
                    <div class="cvc-preview-container two-card hide">
                        <div class="amex-cvc-preview"></div>
                        <div class="visa-mc-dis-cvc-preview"></div>
                    </div>
                </div>
                <div class="zip-code-group form-group">
                    <label for="ZIPCode">ZIP/Postal code</label>
                    <div class="input-container">
                        <input id="ZIPCode" class="form-control" type="text" maxlength="10" required></input>
                        <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="left" data-content="Enter the ZIP/Postal code for your credit card billing address."><i class="fa fa-question-circle"></i></a>
                    </div>
                </div>
                <button id="PayButton" class="btn btn-block btn-success submit-button" type="submit" name="button-price" value={{total}}>
                    <span class="submit-button-lock"></span>
                    <span class="align-middle">Pay ₹{{total}}</span>
                </button>
            </form>
        </div>
      </div>
</body>


{% load static %}
  <script  src="{% static 'payment.js' %}"></script>